# environment.yml
name: rheoML
channels:
  - pytorch
  - nvidia
  - conda-forge
  - defaults
dependencies:
  - python=3.11
  - pytorch
  - torchvision
  - torchaudio
  - pytorch-cuda=12.1
  - pytorch-lightning
  - hydra-core
  - numpy
  - pandas
  - matplotlib
  - scikit-learn
  - jupyterlab
  - onnx